<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home HTML5</title>
    <link rel="stylesheet" href="style-html5.css" />
  </head>
  <body>
    <header>
      <h1>My website</h1>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </header>
    <main>
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>this is the left Sidebar Content</p>
      </aside>
      <div id="content">
        <h2>Main Content</h2>
        <!-- 
            - "HTML5": utilise balise du titre
            - image: LOGO HTML5
            - paragraphe definition html5
            - "CSS3": utilise balise du titre
            - image: LOGO CSS3
            - paragraphe definition css3

        -->
        
      </div>
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>this is the right Sidebar Content</p>
      </aside>
    </main>
    <footer>&copy; 2024 My Website. All Rights Reserved.</footer>
  </body>
</html>
