<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home HTML5</title>
    <link rel="stylesheet" href="../css/style-html5.css" />
    <link rel="stylesheet" href="../css/card.css">
  </head>
  <body>
    <header>
      <h1>My website</h1>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </header>
    <main>
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>this is the left Sidebar Content</p>
      </aside>
      <div id="content">
        <h2>About</h2>
        <div class="card">
          <img src="../images/image.png" alt="Profile Picture" />
          <div class="card-content">
            <h3>Card  Title</h3>
            <p>Some text goes here...</p>
          </div>
        </div>
        <div class="card">
          <img src="../images/html5.png" alt="Profile Picture" />
          <div class="card-content">
            <h3>Card  Title</h3>
            <p>Some text goes here...</p>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>this is the right Sidebar Content</p>
      </aside>
    </main>
    <footer>&copy; 2024 My Website. All Rights Reserved.</footer>
  </body>
</html>
