<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="header">
      <h1>My website</h1>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <div id="left-sidebar">
        <h2>Sidebar</h2>
        <p>this is the left Sidebar Content</p>
      </div>
      <div id="content">
        <h2>Main Content</h2>
        <p>This is the Main Content Area of My Website.</p>
      </div>
      <div id="right-sidebar">
        <h2>Sidebar</h2>
        <p>this is the right Sidebar Content</p>
      </div>
    </div>
    <div id="footer">&copy; 2024 My Website. All Rights Reserved.</div>
  </body>
</html>
